/backups/
/config/blockswap/known_States/
/coremods/
/crash-reports/
/data/
/fancymenu_data/
/local/
/logs/

/modernfix/
/mods/
/patchouli_books/
/resourcepacks/
/saves/
/schematics/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
/xaero/
/XaeroWaypoints**/
Effekseer**
enigmatic_persistence.dat
icon.png
options.txt
patchouli_data.json
usercache.json
usernamecache.json
